.table-container {
  margin: 0 5rem;
  padding: 2rem;
}

.table-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  width: 100%;
}

.workout-date {
  margin-right: 0;
  margin-left: auto;
}

.text {
  padding-right: 1rem;
}

.MuiTableCell-head {
  background-color: #ededed;
  font-weight: 700 !important;
  &.sets,
  &.reps,
  &.kg {
    width: 6rem;
  }
}

.MuiInputBase-input {
  text-align: right;
}

.MuiInputBase-root.name {
  .MuiInputBase-input {
    text-align: left !important;
  }
}

.btns {
  float: right;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
