.table-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  width: 100%;
}

.workout-date {
  margin-right: 0;
  margin-left: auto;
}

.text {
  padding-right: 1rem;
}

.btns {
  float: right;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
